*{
    text-align: center;
}

.signUpForm{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 0 0 20px #000;
    width: 65%;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    padding: 3rem;
    font-family: monospace;
}

.signUpForm input{
    font-size: 1.25rem;
    margin-bottom: .5rem;
}
.signUpForm p{
    font-size: 1.5rem;
    text-align: center;
}

.errorMessage{
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(214, 35, 35, 0.8);
    color: #FFF;
    border-radius: 1rem;
    animation: fadeIn 500ms linear;
}

@keyframes fadeIn{
 0%{
    background-color: rgba(200, 0, 0, 0);

 }
}
@-webkit-keyframes fadeIn{
    0% {
        background-color: rgba(200, 0, 0, 0);
    }
}
