/* Extra small devices (phones, 615px and down) */

@media only screen and (max-width:600px) {
    *{
        position: relative;
    }
    .header{
        list-style: none;
        display: flex;
        justify-content: space-around;
        background: rgb(2,0,36);
        padding: 1rem;
    }
    .header img{
        background: rgba(255,255,255, 1);
        width: 2rem;
        height: 2rem;
        padding: 1rem;
    }
    .header a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: white;
        font-size: 1.3rem;
    }

    .piano{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: .1rem;
        border: ridge rgba(0,0,0, 1);
        
    }
    .pianoTop{
        background-color: rgba(177,173,173,.6);
        display: flex;
        flex-wrap: wrap;
        /* background-color: blue; */
        margin-bottom: .25rem;
        justify-content: space-between;
    }
    .saveTrack{
        display: flex;
        width: 100%;
        margin: .5rem;
    }
    .saveTrack input{
        border: 2px solid black;
    }
    .playback{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .playback button{
        display: flex;
        align-items: center;   
        justify-content: center;
        height: 2.5rem;
        min-width: 5rem;
        /* box-shadow: 0px 0px 5px 4px #bbb; */
        /* margin: .5rem; */
        padding: 1rem;
        background-color: grey;
    }
    .playback button:hover{
        box-shadow: 0px 0px 5px 4px #bbb;
        
    }
    .playback button img{
        position: relative;
        bottom: .5rem;
        right: .25rem
    }
    .keyButton{
        width: 3.3rem;
        height: 10rem;
        border: solid black;
        border-radius: 0 0 .4rem .4rem;
        padding-top: 5rem;
        background: rgb(255,255,255);
        background: linear-gradient(198deg, rgba(255,255,255,1) 0%, rgba(177,173,173,1) 80%);
    }
    .keyButton:active{
        background: rgb(255,255,255);
        background: linear-gradient(183deg, rgba(255,255,255,1) 34%, rgba(252,252,252,1) 50%, rgba(177,173,173,1) 81%);
            }
    .keyButtonSharp{
        position: absolute;
        height: 6rem;
        padding: 0cm;
        width: 2rem;
        background-color: black;
        border-radius: 0  0 .4rem .4rem;
        color: white;
    }
    .keyButtonSharp:nth-of-type(1){
        right: 18.8rem;
    }
    .keyButtonSharp:nth-of-type(2){
        right: 15.5rem;
    }
    .keyButtonSharp:nth-of-type(3){
        right: 8.9rem;
    }
    .keyButtonSharp:nth-of-type(4){
        right: 5.6rem;
    }
    .keyButtonSharp:nth-of-type(5){
        right: 2.4rem;
    }


    .light{
        display: inline-block;
        width:20px;
        height:20px;
        border-radius: 50%;
        background: rgb(228,56,26);
        background: radial-gradient(circle, rgba(228,56,26,1) 0%, rgba(50,11,4,1) 100%);
    }
    .dark{
        display: inline-block;
        width:20px;
        height:20px;
        border-radius: 50%;
        background: rgb(65,228,26);
        background: radial-gradient(circle, rgba(65,228,26,1) 0%, rgba(15,4,50,1) 100%);
    }
    
    .chart{
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        background: rgb(2,0,36);
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 100%);
    }

    .trackNotes{
        display: none;
    }
    .piano img{
        margin-top: 1rem;
        width: 2rem;
        height: 2rem;
    }
    .settingsSection{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        animation: appear 1s infinite;
    }
    .settingsSection button{
        padding: .25rem;
        margin: .25rem;
        box-sizing: border-box;
    }
   
    .settingsControl{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing:border-box;
        width: 8.5rem;
    }
    .settingsForm{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
   
    .settingsForm :nth-child(2){
        /* background-color: blue; */
        margin: 5px;
       
    }
    .settingsForm :nth-child(3){
        margin: 5px;
        /* background-color: blue; */

    }
    .pianoInstructions{
        display: none;
        position: fixed;
        margin: 0 auto;
        top: 10%;
        width: 50%;
    }
  .instructionText{
      font-family: monospace;
      text-align: center;
  }
    .onScreen{
        display: flex;
        width: 60%;
        flex-direction:row;
        margin:0 0 0 5rem;
        z-index: 2;
        /* right: 50%; */
        background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
        animation: slideIn .25s linear;
        border-radius: 1rem;
        padding: 10px;
    }
    .offScreen{
        top: 10%;
        right: 50%;
        opacity: 0;
        animation: slideOut .5s linear;
    }
    .close{
        position: relative;
        /* left:2rem; */
    }
    .close:hover{
        border-radius: 50%;
        box-shadow: 0 0 1rem rgb(206, 35, 35);
    }
    @keyframes slideIn {
        from{
            
            transform: translateX(-100%);
        }

        to{
            transform: translateX(0%);
        }
    }
    @keyframes slideOut {
        from{
            display: block;
            transform: translateX(0%);
        }

        to{
            display: none;
            transform: translateX(0%);
        }
    }

    
}

/* Medium devices (landscape tablets, 600px and up) */
@media only screen and (min-width: 600px) {
    *{
        position: relative;
    }
    .header{
        list-style: none;
        display: flex;
        justify-content: space-around;
        background: rgb(2,0,36);
        padding: 1rem;
    }
    .header img{
        background: rgba(255,255,255, 1);
        width: 2rem;
        height: 2rem;
        padding: 1rem;
    }
    .header a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: white;
        font-size: 1.3rem;
    }

    .piano{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: .1rem;
        border: ridge rgba(0,0,0, 1);
        
    }
    .pianoTop{
        background-color: rgba(177,173,173,.6);
        display: flex;
        flex-wrap: wrap;
        width: fill;
        margin-bottom: .25rem;
        justify-content: space-between;
    }
    .saveTrack{
        display: flex;
        width: 100%;
        margin: .5rem;
    }
    .saveTrack input{
        border: 2px solid black;
    }
    .playback{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .playback button{
        display: flex;
        align-items: center;   
        justify-content: center;
        height: 2.5rem;
        min-width: 5rem;
        /* box-shadow: 0px 0px 5px 4px #bbb; */
        /* margin: .5rem; */
        padding: 1rem;
        background-color: grey;
    }
    .playback button:hover{
        box-shadow: 0px 0px 5px 4px #bbb;
        
    }
    .playback button img{
        position: relative;
        bottom: .5rem;
        right: .25rem
    }
    .keyButton{
        width: 3.3rem;
        height: 10rem;
        border: solid black;
        border-radius: 0 0 .4rem .4rem;
        padding-top: 5rem;
        background: rgb(255,255,255);
        background: linear-gradient(198deg, rgba(255,255,255,1) 0%, rgba(177,173,173,1) 80%);
    }
    .keyButton:active{
        background: rgb(255,255,255);
        background: linear-gradient(183deg, rgba(255,255,255,1) 34%, rgba(252,252,252,1) 50%, rgba(177,173,173,1) 81%);
            }
    .keyButtonSharp{
        position: absolute;
        height: 6rem;
        padding: 0cm;
        width: 2rem;
        background-color: black;
        border-radius: 0  0 .4rem .4rem;
        color: white;
    }
    .keyButtonSharp:nth-of-type(1){
        right: 18.8rem;
    }
    .keyButtonSharp:nth-of-type(2){
        right: 15.5rem;
    }
    .keyButtonSharp:nth-of-type(3){
        right: 8.9rem;
    }
    .keyButtonSharp:nth-of-type(4){
        right: 5.6rem;
    }
    .keyButtonSharp:nth-of-type(5){
        right: 2.4rem;
    }


    .light{
        display: inline-block;
        width:20px;
        height:20px;
        border-radius: 50%;
        background: rgb(228,56,26);
        background: radial-gradient(circle, rgba(228,56,26,1) 0%, rgba(50,11,4,1) 100%);
    }
    .dark{
        display: inline-block;
        width:20px;
        height:20px;
        border-radius: 50%;
        background: rgb(65,228,26);
        background: radial-gradient(circle, rgba(65,228,26,1) 0%, rgba(15,4,50,1) 100%);
    }
    
    .chart{
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        background: rgb(2,0,36);
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 100%);
    }

    .trackNotes{
        display: none;
    }
    .piano img{
        margin-top: 1rem;
        width: 2rem;
        height: 2rem;
    }
    .settingsSection{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        animation: appear 1s infinite;
    }
    .settingsSection button{
        padding: .25rem;
        margin: .25rem;
        box-sizing: border-box;
    }
   
    .settingsControl{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing:border-box;
        width: 8.5rem;
    }
    .settingsForm{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
   
    .settingsForm :nth-child(2){
        /* background-color: blue; */
        margin: 5px;
       
    }
    .settingsForm :nth-child(3){
        margin: 5px;
        /* background-color: blue; */

    }
    .pianoInstructions{
        display: none;
        position: fixed;
        margin: 0 auto;
        top: 10%;
        width: 50%;
    }
  .instructionText{
      font-family: monospace;
      text-align: center;
  }
    .onScreen{
        display: flex;
        width: 60%;
        flex-direction:row;
        margin:0 0 0 5rem;
        z-index: 2;
        /* right: 50%; */
        background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
        animation: slideIn .25s linear;
        border-radius: 1rem;
        padding: 10px;
    }
    .offScreen{
        top: 10%;
        right: 50%;
        opacity: 0;
        animation: slideOut .5s linear;
    }
    .close{
        position: relative;
        /* left:2rem; */
    }
    .close:hover{
        border-radius: 50%;
        box-shadow: 0 0 1rem rgb(206, 35, 35);
    }
    @keyframes slideIn {
        from{
            
            transform: translateX(-100%);
        }

        to{
            transform: translateX(0%);
        }
    }
    @keyframes slideOut {
        from{
            display: block;
            transform: translateX(0%);
        }

        to{
            display: none;
            transform: translateX(0%);
        }
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    *{
        position: relative;
    }
    .piano{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .pianoTop{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 45%;
        background-color: rgba(177,173,173,.6);
        justify-content: space-between;
        margin: 0 1rem 0 1rem;
    }
    .settingsControl{
        display: flex;
        flex-direction: column;
        
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
