.pressed{
    position: relative;
    top: -1px;
    background-color: beige;
}

.unPressed{
    background-color: white
}

.keyButton{
   width: 50px;
   height: 200px;
}

.keyButton:nth-child(){
    background-color: black;
    color: white;
}
